bg-gray-xlight {
    background: #fafbfc
}

.title {
    color: #24292e;
    font-size: 40px
}

.title:hover {
    color: #586069;
    text-decoration: none
}

#post-title {
    color: #24292e;
    width: 100%
}

#post-title:hover {
    color: #586069;
    text-decoration: none
}

body {
    font-family: "Bitstream Charter", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-size: 17px;
    hyphens: auto;
    margin-bottom: 16px;
    overflow-wrap: break-word
}

.title,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-variant: small-caps
}

p {
    margin-bottom: 16px
}

a {
    color: #24292e;
    text-decoration: underline
}

a:hover {
    color: #586069;
    text-decoration: none
}

li,
ul {
    list-style-position: inside
}

figure {
    text-align: center;
    font-style: italic;
    font-size: 90%
}

figure.floatright {
    max-width: 40%;
    width: auto\9*0.3;
    height: auto;
    float: right
}

figure.floatleft {
    max-width: 40%;
    width: auto\9*0.3;
    height: auto;
    float: left
}

figure.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}

img {
    max-width: 100%
}

video {
    width: 100%;
    height: auto
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

video[playsinline] {
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

table {
    border-collapse: collapse;
    margin-bottom: 16px
}

td {
    border: 1px solid #586069;
    padding: 8px
}

tr:nth-child(even) {
    background-color: #e1e4e8
}

th {
    border: 1px solid #586069;
    padding: 8px;
    text-align: left;
    background-color: #586069;
    color: white
}

html,
body {
    height: 100%
}

.h-100 {
    height: 100%
}

.container-xxl {
    max-width: 1440px;
    margin: auto
}

.container-xxxl {
    max-width: 1600px;
    margin: auto
}

#holy {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "left main right"
}

#header {
    grid-area: header
}

#main {
    grid-area: main;
    max-width: 1fr
}

#left {
    grid-area: left;
    width: 270px
}

#right {
    grid-area: right;
    width: 270px
}

#footer {
    grid-area: footer
}

@media screen and (max-width:1282px) {
    #holy {
        display: grid
    }
    #header {}
    #main {
        max-width: 1012px
    }
    #left {}
    #right {
        display: none
    }
}

@media screen and (max-width:1012px) {
    #holy {
        display: block
    }
    #header {}
    #main {
        max-width: 1012px
    }
    #left {
        display: none
    }
    #right {
        display: none
    }
}

blockquote {
    border: 1px #e1e4e8 solid;
    padding: 10px 15px;
    background: #fafbfc;
    margin-bottom: 16px
}

blockquote p:last-child {
    margin-bottom: 0
}

code,
pre,
samp {
    white-space: pre-wrap;
    margin: 0.0em;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px
}

pre {
    border: 1px #e1e4e8 solid;
    padding: 10px;
    background: #fafbfc
}

pre+p {
    margin-top: 16px
}

#content h1 {
    font-size: 1.4em;
    margin-top: 1.25em;
    margin-bottom: 0.75em;
    border-bottom: 1px #24292e solid;
    text-align: right;
    line-height: 1em
}

#content h2 {
    font-size: 1.17em;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    border-bottom: 1px #e1e4e8 solid;
    line-height: 1em
}

#content h3 {
    font-size: 1em;
    margin-top: 1.1em;
    margin-bottom: 0.5em;
    border-bottom: 1px #e1e4e8 solid;
    line-height: 1em                       
}

#content h4 {
    font-size: 1em;
    margin-top: 1.1em;
    margin-bottom: 0.75em
}

#side,
#side ul,
#side li {
    margin-bottom: 0px
}

#side h1 {
    font-size: 1.17em;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    border-bottom: 1px #e1e4e8 solid;
    line-height: 1em
}

#toc {
    margin-top: 0.5rem;
    padding: 0.7rem;
    background: #fafbfc
}

#toc h1 {
    font-size: 1.17em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    border-bottom: 1px #e1e4e8 solid;
    line-height: 1em
}

#toc ul {
    counter-reset: section;
    padding-left: 0.8rem;
    list-style-type: none
}

#toc li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
    color: #586069
}

#toc a {
    color: #24292e
}

#toc a:hover {
    color: #586069;
    text-decoration: none
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1
}

.dropdown-content:hover {
    visibility: visible;
    opacity: 1
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    top: 55px;
    right: 0;
    white-space: nowrap;
    min-width: 160px;
    z-index: 1
}

.nav {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 3em
}

.nav a {
    margin: 1em;
    color: #586069
}

#previous a {
    margin: 10em;
    color: #586069;
    float: left
}

#next a {
    margin: 10em;
    color: #586069;
    float: right
}

math_display {
    display: block
}
