
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
    <link href="https://unpkg.com/primer/build/build.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
      <!-- Syntax highlighting -->
  <link rel="stylesheet" href="/css/github.css" />
  <script src="/scripts/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body class="bg-gray-dark">
    <div  class="container-xxl h-100 my-3">
      <div class="box-shadow-large bg-gray">

        $partial("templates/header.html")$
        
        <div id="holy">

          <div id="left" class="mr-2 px-3 pb-3 text-gray bg-white">
            <div id="side">
              <div>
                <h1>Recent Posts</h1>
                $partial("templates/recent-list.html")$
              </div>
            </div>
          </div>
            
          <div class="my-2">
          $body$
          </div>
          
          <div id="right" class="ml-2 px-3 pb-3 text-gray bg-white">
            <div id="side">
              <div>
                <h1>Tags</h1>
                $alltags$
              </div>
            </div>
          </div>
        </div>

        $partial("templates/footer.html")$
        
      </div>
  </body>
</html>
